$enable-dark-mode: false;
$grid-breakpoints: (
  xs: 0,
  md: 768px,
  lg: 992px,
) !default;

$font-size-base: 1.25rem;

// Configuration
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

// Layout & components
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";

// Utilities (media query's)
@import "node_modules/bootstrap/scss/utilities/api";

$highlight-primary: #1e1e1e;

$variant-colors: (
  "default-background": #f7f7f7,
  "default-primary": #d8008d,
  "default-text": #444444,
  "highlight-background": #ff87d5,
  "highlight-primary": #1e1e1e,
  "highlight-text": #393939,
  "secondary-background": #9f651e,
  "secondary-primary": #ffffff,
  "secondary-text": #f8f8f8,
  "dark-background": #2a2a2a,
  "dark-primary": #f54eb8,
  "dark-text": #f7f7f7,
) !default;

body {
  * {
    font-family: "Montserrat", sans-serif;
    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }
  font-size: $font-size-base;
  color: map-get($variant-colors, "default-text");
  background-color: map-get($variant-colors, "default-background");
  small {
    font-size: $font-size-base * 0.7;
  }
}

html {
  scroll-snap-type: y mandatory;
}

header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  background-color: map-get($variant-colors, "default-background");
  .header-links {
    a {
      font-weight: 600;
      color: map-get($variant-colors, "default-text");
      text-decoration: none;
    }
  }
}

.container {
  padding-left: 0;
  padding-right: 0;
  @media (min-width: 1250px) {
  }
}

a,
a.styled-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  &::after {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.125s;
  }
  &:hover::after {
    transform: scaleX(1);
  }
  &.bold {
    font-weight: 600;
  }
}

.descriptor {
  cursor: default;
  font-weight: 600;
  padding-top: 1rem;
  padding-left: 60px;
  position: relative;
  padding-bottom: 1rem;
  display: inline-block;
  text-transform: uppercase;
  transition: padding 0.25s;
  &:hover {
    padding-left: 64px;
  }
  &::before {
    content: "";
    left: 0;
    top: 50%;
    width: 48px;
    height: 1px;
    display: block;
    position: absolute;
    transform: translateY(-50%);
  }
}

$custom-colors: "default", "highlight", "secondary", "dark";

@each $key in $custom-colors {
  $text: map-get($variant-colors, "#{$key}-text");
  $background: map-get($variant-colors, "#{$key}-background");
  $primary: map-get($variant-colors, "#{$key}-primary");

  .theme-#{$key} {
    color: $text;
    background-color: $background;
    a,
    a.styled-link {
      color: $primary;
      &::after {
        background-color: $primary;
      }
    }
    .descriptor {
      color: $primary;
      &::before {
        background-color: $primary;
      }
    }
    .service {
      svg {
        fill: $primary;
      }
    }
  }
}

.preview-image {
  height: 0;
  width: 100%;
  padding: 0 0 100% 0;
  border-radius: 50%;
  position: relative;
  &::after,
  img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: map-get($variant-colors, "default-primary");
  }
  &::after {
    content: "";
  }
  img {
    padding: 0.5rem;
    object-fit: contain;
  }
}

section,
footer {
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  &.minimal {
    display: block;
    min-height: auto;
  }
  @media (min-width: 1250px) {
    padding-left: 0;
    padding-right: 0;
  }
  &.disable-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
}

#home {
  min-height: 100vh;
}

#about {
  .about-image-wrapper {
    img {
      width: 100%;
      object-position: center;
      object-fit: contain;
    }
  }
}

#services {
  .service {
    padding: 1rem;
    border-radius: 1.125rem;
    border-width: 1px;
    border-style: solid;
    h4 {
      font-weight: 500;
    }
    svg {
      width: 2.25rem;
      height: 2.25rem;
    }
    @media (min-width: 1250px) {
      max-width: 490px;
      margin: 0 auto;
    }
  }
}

#contact {
  .contact-types {
    p,
    a,
    b {
      display: inline-block;
    }
    p {
      margin: 0 0 0.5rem 0;
    }
  }
}
